<div class="content">
    <img class="mockup" src="assets/images/openinghourspage_tonyspopup_mockup.png"/>
    <div class="textbox">
        <h1 class="title">Openingstijden</h1>
        De Tony's pop-up stores zijn wekelijks ge-<br/>opent van:
        <br />
        Maandag: 12.00 - 18.00 uur<br />
        Dinsdag: 10.00 - 18.00 uur<br />
        Woensdag: 10.00 - 18.00 uur<br />
        Donderdag: 10.00 - 18.00 uur<br />
        Vrijdag: 10.00 - 18.00 uur<br /><br/>
        Op zaterdag en zondag zijn we GESLOTEN.
    </div>
</div>
