:host {
    .textbox {
        background-image: url('/assets/images/infopage_tonyspopup_textbox.png');
        max-width: 689px;
        max-height: 240px;
        margin: 25px auto;
        padding: 20px 50px 50px 95px;
    }
    .flyer {
        margin: 25px 0 25px 0;
    }
    .bag {
        margin: 25px 0 0 0;
    }
}
