:host {
    .title {
        margin-left: 145px;
    }
    .textbox {
        background-image: url('/assets/images/agendapage_tonyspopup_textbox.png');
        max-width: 720px;
        padding: 80px 20px 80px 60px;
    }
    .mockup {
        margin: 60px 0 40px 0;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        th,
        td {
            padding: 0;
            margin: 0;
        }
        td:nth-child(2) {
            text-align: right;
        }
        td:nth-child(3) {
            padding: 0 15px 0 15px;
        }
        td:last-child {
            text-align: right;
        }
    }
}
