<div class="content">
    <img class="mockup" src="assets/images/agendapage_tonyspopup_mockup.png" />
    <div class="textbox">
        <h1 class="title">Agenda</h1>
        <table>
            <tr>
                <td>1. Haarlem:</td>
                <td>7 MEI 2018</td>
                <td>T/M</td>
                <td>11 MEI 2018</td>
            </tr>
            <tr>
                <td>2. Utrecht:</td>
                <td>14 MEI 2018</td>
                <td>T/M</td>
                <td>18 MEI 2018</td>
            </tr>
            <tr>
                <td>3. Zwolle: </td>
                <td>21 MEI 2018</td>
                <td>T/M</td>
                <td>25 MEI 2018</td>
            </tr>
            <tr>
                <td>4. Arnhem: </td>
                <td>28 MEI 2018 </td>
                <td>T/M</td>
                <td>1 JULI 2018</td>
            </tr>
            <tr>
                <td>5. Eindhoven: </td>
                <td>4 JULI 2018</td>
                <td>T/M</td>
                <td>8 JULI 2018</td>
            </tr>
            <tr>
                <td>6. Maastricht: </td>
                <td>11 JULI 2018</td>
                <td>T/M</td>
                <td>15 JULI 2018</td>
            </tr>
            <tr>
                <td>7. Tilburg: </td>
                <td>18 JULI 2018</td>
                <td>T/M</td>
                <td>22 JULI 2018</td>
            </tr>
            <tr>
                <td>8. Den Haag: </td>
                <td>15 JULI 2018</td>
                <td>T/M</td>
                <td>29 JULI 2018</td>
            </tr>
        </table>
    </div>
</div>
