@font-face {
    font-family: 'playbillregular';
    src: url('assets/fonts/playbill-webfont.woff2') format('woff2'),
         url('assets/fonts/playbill-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kefaregular';
    src: url('assets/fonts/kefa-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/kefa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
