@import '../common/scss/_variables.scss';
:host {
    .title {
        margin-left: 150px;
    }
    .textbox {
        background-image: url('/assets/images/contactpage_tonyspopup_texbox.png');
        max-width: 760px;
        padding: 50px 20px 50px 80px;
        margin-top: 50px;
    }
    .westergastterein {
        margin: 60px 0 40px 0;
    }
    a {
        text-decoration: none;
        color: $black;
        &:hover {
            text-decoration: underline;
        }
    }
    @media screen and (max-width: 900px) {
        .title {
            margin-left: 16.6vw;
        }
        .textbox {
            padding: 5.5vw 2.2vw 5.5vw 8.8vw;
            margin-top: 5.5vw;
        }
        .westergastterein {
            margin: 6.6vw 0 4.4vw 0;
        }
    }
}
