@import '../../assets/sass/_variables.scss';
:host {
    .content {
        text-align: center;
    }
    .westergastterein {
        margin: 60px 0 40px 0;
    }
    .title {
        margin-left: 150px;
    }
    .textbox {
        background-image: url('/assets/images/contactpage_tonyspopup_texbox.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        max-width: 760px;
        padding: 50px 20px 50px 80px;
        font-size: 25pt;
        margin: 0 auto;
        margin-top: 50px;
        text-align: left;
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color: $black;
        &:hover {
            text-decoration: underline;
        }
    }
}
