@import '../common/scss/_variables.scss';
:host {
    .menu {
        margin-top: 36px;
        background-color: $yellow;
    }
    ul {
        display: block;
        height: 50px;
        max-width: 920px;
        margin: 0 auto;
        padding: 0;
        white-space: nowrap;
        li {
            float: left;
            list-style: none;
            margin: 0 40px 0 40px;
            line-height: 50px;
            display: block;
            transform: scale(1.5, 1)
        }
    }
    a {
        color: $blue;
        text-decoration: none;
        font-size: 25pt;
        font-family: 'playbillregular';
        text-transform: uppercase;
    }
    @media screen and (max-width: 930px) {
        .menu {
            margin-top: 3.8vw;
            background-color: $yellow;
        }
        ul {
            height: 5.3vw;
            li {
                line-height: 5.3vw;
                margin: 0 4.3vw 0 4.3vw;
            }
        }
        a {
            font-size: 3.5vw;
        }
    }
}
