@import 'app/common/scss/_reset.scss';
@import 'app/common/scss/_variables.scss';
@import 'app/common/scss/_fonts.scss';
body {
    background-color: $red;
    padding: 0 0 50px 0;
    font-family: 'kefaregular';
    min-width: 320px;
}

img {
    max-width: 100%;
}

.title {
    font-family: 'playbillregular';
    font-size: 60pt;
    line-height: 60pt;
    text-transform: uppercase;
    font-weight: normal;
    margin-left: 140px;
    transform: scale(1.5, 1)
}

.content {
    text-align: center;
    margin: 0 10px 0 10px;
}

.textbox {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: left;
    font-size: 25pt;
    margin: 0 auto;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    body {
        padding: 0 0 5.5vw 0;
    }
    .title {
        font-size: 9vw;
        line-height: 9vw;
        margin-left: 15.5vw;
    }
    .textbox {
        font-size: 3.7vw;
    }
}
